<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td>{{shop.shop_name}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{shop.shop_contact}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{shop.shop_address}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><a href="">Edit Profile</a>
                <a href="{% url 'webshop:changepass' %}">Change Password</a></td>
            </tr>
        </table>
    </form>
</body>
</html>